/*General*/


*{
    margin: 0%;
    padding: 0% ;
}    


/* Header */
header {
    background-color: #ffbb8a;
    border: 1px solid #e8833a;
    margin-bottom: 5%;
}    
header h1{
    
    height: 15%;
    color: azure;
    margin-left: 45%;
    
}    

main section img{

    width: 20%;
    height: 20%;
    margin-left: 2%;
    margin-top: 2%;

}

/* Header navs */

header nav ul li{
    
    margin-top: 2%;
    float: left;
    margin-left: 10%;
    list-style: none;
    
}    

header nav li a{
    border-radius: 20%, 10%;
    padding: 10%;
    background-color: #e8833a;
    color: whitesmoke;
    text-decoration: none;
}    

.actual{
    font-weight: 900;
}

.actual a{
    color: #000;
    padding: 20%;
    border-radius: 10%;
}    

/* Main */


main ol{
    clear: both;
    list-style: none;

}

main ul{
    list-style: none;
}

main div {
    float: left;
    width: 30%;
    margin: 1%;
}

main{
    width: 95%;
    margin: 0 auto;
}

img{
    width: 15%;
    height: 15%;
}    
div img{
    width: 50%;
    height: 50%;
    margin-left: 25%;
}
main div p{
    margin-top: 5%;
    margin-left: 15%;
}

main div h5{
    
    margin-left: 50%;
    margin-top: 10%;
}
/* Menu, es otro css pq no tiene divs */

main ol {
    clear: both;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

main ol li {
    float: left;
    width: 18%;
    margin: 1%;
    text-align: center;
}

main ul {
    clear: both;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

main ul li {
    float: left;
    width: 22%;
    margin: 1%;
    text-align: center;
}

main li img {
    width: 100%;
    height: auto;
}

main h3 {
    clear: both;
    text-align: center;
    margin: 2% 0;
}

/* Reservas, lo mismo que arriba pero con forms */

main form {
    float: left;
    width: 26.5%;
    margin: 2%;
    padding: 1%;
    box-sizing: border-box;
    text-align: left;
}

main h3 {
    text-align: center;
    clear: both;
    margin: 2%;
}

main input[type="submit"] {
    margin-top: 2%;
    background-color: #665DF5;
    color: white;
    padding: 2%;
    border-radius: 25%;
    margin-left: 40%;
}


/* Footer */

footer{
    clear: both;
    margin-top: 5%;
    background-color: rgb(255, 189, 135);
    height: 50px;
}    


footer div{
    float: left;
    margin-left: 2%;
}    

footer div.noUltimo{
    margin-right: 30%;
}    
